<div class="container">
    <div class="row">
        <h3>Laptops Suck</h3>
        <p>Hello Blog.</p>
        <p> I am yet still Dan and I have just started my Villiers Park course on computing. They have told me a great way to get going with software engineering is to write a blog and thus so I do becuase I am generally foolish enough to believe anything that comes out of the mouth of someone who looks important (bar Mark my computing teacher).</p>
	<p> This first post was going to be about what I aim to achieve at Villiers park over the five days I'm here of which I wrote about on a post-it note (No idea why they're called post-it notes you don't post them just saying) but sadly, as I am struggling to write this, I realize there is a much more important issue which needs tackling. WHY IN GOD'S NAME WOULD THEY PUT ME ON A LAPTOP? This sucks.</p>
	<p> First problem is the thickness (or should I say lack of) with the keys. To press them requires much more effort that with my usual desktop computer and as anyone with any sense you know more effort equals more mistakes and more mistakes means more effort. It's an infinate loop I appear to be trapped in and it sucks. The fact of the matter is that whenever I make a mistake I have to press the back key and we all know you can't hold the key. Why you may ask, becuase my dearest friend you will never get it to hit the correct place. You will always stop it too early and have to press again -> more effort or you will stop too late and have to retype -> more effort.</p>
	<p>Second problem is the positioning of the keypad and the keyboard. TOO CLOSE, TOO CLOSE. I keep typing half way down the line in the middle of the wrong word or clicking off the text editor and myflow is stopped. I won't go into a lot of detail now becuase I'm being told about problem solving but I hope you can sympathise with my troubles.</p>
	<p> Not a great start to the week, not gonna lie.</p>
	<p>Goodbye Blog</p>
    </div>
  </div>
</div>
