<div class="container">
    <div class="row">
        <h3>I'm Perfect</h3>
        <p>Hello Blog.</p>
        <p> I am yet still Dan and it has been 15 minutes since my last post so they thought this would be a good time for another, of course, this time I have been dictated to write about problem solving and being lazy and this time I might actually stick to it but we'll have to see where my brain takes me, like the wind nowhere important I'd imagine.</p>
	<p> So, problem solving was quick. It was very similar to procedural thinking and I think I find procedural thinking easier and more logical anyway so I might just stick with that when coding. Although, I'm being given some great advice I can't help but wonder when do I learn Ruby? I've never done it before (Python has such the advantage *cough* *cough*) and I have to make this text appear on the screen in as cool a way as possible. I'm screwed right?</p>
	<p> Then, we went on to being lazy. Something almost new but that I probably do naturally anyway. It was basically about being able to do a great job with code in as little time as possible making sure you have fuctions everywhere. With the last program I wrote, I did it overnight and, I have now realized a function call within 8 other functions would've saved me about 20 minutes. The project took 6 hours total and that's the only thing I can think of that could've gone better. Maybe a few more timer animations to add to the glitz of it all. Other than that I'm perfect.</p>
	<p>Goodbye Blog.</p>
    </div>
  </div>
</div>
