<div class="container">
    <div class="row">
        <h3>Q*Bert Isn't Dead</h3>
        <p>Hello Blog.</p>
        <p> I am yet again still Dan and currently failing with text editors. None of them like me and none of them want to install without about 10,000 errors. Lovely. It is Saturday today and this morning we went on a trip out which I enjoyed.</p>
	<p> We visited the Cambridge museum of computing history and although the tour seemed to go on for a little too long for me to handle myself around so many amazing retro games, THE RETRO GAMES WERESO C00L!! I really loved playing them and managed to beat 3 high scores. Not gonna lie air is pretty thinup here. There was, however, one massive and gaping issue. There was a complete lack of Q*bert and Donkey Kong was on one of the machines but to use it you had to pay to play. Nightmare. </p>
	<p> I am currently sat at the annoying laptop typing with far too much effort involved for 15:11 in theafternoon and am in a session on text editors. I love the idea of them except it does help when theyactually install. I've given up for now and have no clue what I'm going to write my code in. I'll get back to it and keep you posted as the action occurs.</p>
	<p> Okay trying to install EMACS. Fourth time lucky? Let's find out in about 10 hours becuase I'm on a laptop so everything is really slow. Please people, let me back to my desktop at home. EMACS hasworked so I guess I will just use that from now on. I need to make my blog look awesome next, aftergetting it on the internet. Looks like I've got a tricky road ahead. I'll try and spend more time at this laptop then.</p>
	<p>Goodbye Blog</p>
    </div>
  </div>
</div>
