<div class="container">
    <div class="row">
        <h3>I Suck At Biology</h3>
        <p>Hello Blog.</p>
        <p>I am yet again still Dan and out of absolutely nowhere I appear to be getting somewhere with this blog. Don't ask. This post, it has been decided (not dictated for once) that it, will be about the bioinformatics talk or as I like to call it the bioinformatics I'm lost within two seconds speed talk.</p>
	<p>So as you can probably tell it had something to do with biology. This is about everything I know becuase I blagged an A in biology at GCSE which I didn't deserve. Trying to write about something I know less than nothing about is quite tricky but I managed to use my procedural and computational thinking to take the task of taking dna and giving back a protein sequence. Thanks brain.</p>
	<p> I tried to stay back at the end and had a good conversation which managed to get me enough understanding (no, I have none of this) to mentally prepare and start to code in python on my phone. So tommorrow looks daunting.</p>
	<p>As much as this wasn't a rant more of a self reflection of how I know no biology, if I get ill I know I'm ill and that staying in bed and watching terrible day time TV generally fixes it, that's literally all my biology. OH! And a phagocyte is something that noms on bad things right?? Oh well.</p>
	<p>Goodbye Blog</p>
    </div>
  </div>
</div>
