<div class="container">
    
		<div class="row">
        
			<h3>Why Do I hate computing?</h3>
        
			<p>Hello Blog.</p>
        
			<p>I am yet again still Dan and now Viller's Park is over. This blog didn't win anything (quite justly) and Ruby did pretty badly on the vote (which was unfair because we had Thomas the Dank Engine on our presentation). I am missing Viller's and finding quite difficult to ease back into everyday life but I'm getting there and have managed to catch up on all work I missed.</p>
	
			<p>However, while I was catching up with some computing work I had a mini epiphany. It's fucking pointless. I was talking with a friend at this point and we were talking about making a game in Panda3D and I realized this was what I hpoefully will be doing in later life, so what the fuck does almost all of the Computing course have to do with actual, real world programming?</p>
	
			<p>The worst bit of this isn't the actual having to learn the stuff it's the fact that universities or employers need good grades so if I don't remember something on the Data Protection Act fully and there's someone else who managed to remember this completely obselete content which neither of us will ever use again, they get in and I don't.</p>
	
			<p>In my opinion, we shoudl be examined on coding alone OR theory alone depending on where we want to specialize.</p>
			
			<p>Goodbye Blog</p>
    
		</div>
  
	</div>

</div>
