<div class="container">
    <div class="row">
        <h3>Lambda Falling Over</h3>
        <p>Hello Blog.</p>
        <p> I am yet again still Dan. Not necessarily a bad thing but still I write. This time about Lambda Calculus.</p>
        <p> I turned up at the start of the second session and was basically told work out how to build a programming language. That's what lambda calculus is apparently. Still confused as to the details but I appeared to figure out most of it quite quickly and seemed to keep up to speed.</p>
	<p> It's rather late now so I'm afraid the etuals of table football, more table football, curry, me falling over twice playing regular football (I scored three times so that's a good +1 right?) and the rest of today's details (including more table football) with have to remain in the confinds of my brain.</p>
	<p> Goodbye Blog.</p>
    </div>
  </div>
</div>
